
<!-- Input files -->
<div>
  <div id="drop-area"
  (dragenter)="[PreventDefaults($event), Highlight()]"
  (dragover)="[PreventDefaults($event), Highlight()]"
  (dragleave)="[PreventDefaults($event), Unhighlight()]"
  (drop)="[PreventDefaults($event), Unhighlight(), HandleDrop($event)]"
  [class.highlight]="dropAreaHighlight" 
    >
    <form class="image-loader">
      <p>Загрузите изображения с помощью диалога выбора файлов или перетащив нужные изображения в выделенную область</p>
      <input type="file" id="fileElem" accept="image/*">
      <label class="button" for="fileElem">Выбрать изображения</label>
    </form>
  </div>
  <hr>
  <div class="instructions-form">
    <img src="{{displayImagePath.str}}" alt="image">
    <form action="">
      <h2>Set parameters of split</h2>
      <mat-form-field appearance="fill">
        <mat-label>Format type</mat-label>
        <mat-select [(value)]="SelectedFormat">
          <mat-option [value]="format.value" *ngFor="let format of formats; let i = index">{{ format.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Column number</mat-label>
        <mat-select [(value)]="selectedColNumber">
          <mat-option [value]="i" *ngFor="let number of maxColomnNumber; let i = index">{{i+1}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
