
<!-- Input files -->
<div>
  <hr>
  <div class="instructions-form">
    <div id="drop-area"
      (dragenter)="[PreventDefaults($event), Highlight()]"
      (dragover)="[PreventDefaults($event), Highlight()]"
      (dragleave)="[PreventDefaults($event), Unhighlight()]"
      (drop)="[PreventDefaults($event), Unhighlight(), HandleDrop($event, sliceForm.disabled)]"
      [class.highlight]="dropAreaHighlight"
      [class.blank]="imageFieldBlank"
    >
      <form class="image-loader" [style.display]="img!=''?'none':'block'">
        <p>Load image with "File Selector" dialog or just drag image to highlighted zone</p>
        <input type="file" id="fileElem" accept="image/*" (change)="OnFileSelected($event.target)">
        <label class="button" for="fileElem">Choose image</label>
      </form>
      <img src="{{displayImagePath.str}}" alt="image" [style.display]="img==''?'none':'block'">
    </div>
    <form (submit)="UploadFile($event);"  [formGroup]="sliceForm">
      <h2>Set parameters of split</h2>
      <mat-form-field appearance="fill">
        <mat-label>Format type</mat-label>
        <mat-select [(value)]="SelectedFormat" formControlName="type">
          <mat-option [value]="format.value" *ngFor="let format of formats; let i = index">{{ format.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Column number</mat-label>
        <mat-select [(value)]="selectedColNumber" required formControlName="colNumber"> 
          <mat-option [value]="i" *ngFor="let number of maxColomnNumber; let i = index">{{i+1}}</mat-option>
        </mat-select>
      </mat-form-field>
      <label id="orientation-label">Orientation</label>
      <mat-radio-group formControlName="orientation" aria-labelledby="orientation-label" (change)="selectedOrientation = $event.value" [value]="selectedOrientation">
        <mat-radio-button value="portrait">Portrait</mat-radio-button>
        <mat-radio-button value="landscape">Landscape</mat-radio-button>
      </mat-radio-group>
      <button type="submit" [disabled]="sliceForm.disabled">Slice</button>
    </form>
  </div>
</div>
